@page "/event-viewer"
@inject NavigationManager NavigationManager

<h1 class="text-center">Event Viewer</h1>

<!--
    TODO:
    - If SelectedEvent != null display detailed information for selected event
    - If SelectedEvent == null display list of events
-->

<div>
    @if (selectedEvent != null)
    {
        <h2 class="text-center">Event Details</h2>
        <div>
            <h3>@selectedEvent.EventName</h3>
            <p>Date: @selectedEvent.EventDate</p>
            <p>Location: @selectedEvent.EventLocation</p>
            <p>Description: @selectedEvent.EventDescription</p>
        </div>
    }
    <h2 class="text-center">Events</h2>
    <ul>
        @foreach (var e in events)
        {
            <li>
                <button type="button" @onclick="() => HandleSelectEvent(e)" class="event-manager-button size-large text-center text-decoration-none">@e.ToString()</button>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "SelectedEvent")]
    public string EventName { get; set; }

    private Event? selectedEvent;
    private List<Event> events = new List<Event>();

    protected override void OnInitialized()
    {
        // Populate events list
        PopulateEventList();

        if (!string.IsNullOrEmpty(EventName))
        {
            selectedEvent = events.FirstOrDefault(e => e.EventName == EventName);
        }
    }

    private void PopulateEventList()
    {
        events = Event.eventList.ListEvents();
        Debug.WriteLine($"Events in Event Viewer: {events.Count}");
    }

    private void HandleSelectEvent(Event selected)
    {
        selectedEvent = selected;
        string url = $"/event-viewer?SelectedEvent={selected.EventName}";
        Debug.WriteLine($"Navigating to: {url}");
        NavigationManager.NavigateTo(url);
    }
}
